# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# others
/lambda
/test
/.github
/tmp
/web/pics

# some files
alert.js
date-formater.js
footer_copy.js
hero-post.js
intro.js
markdown-styles.module.css
more-stories.js
post-body.js
post-header.js
post-preview.js
post-title.js
section-separator.js
readModel.js
writeModel.js
test.js
hello.js
new_copy.js
forest.jpg
.env